<div style="margin-right: 80px;margin-left: 80px; font-size:larger;">
<span style="font-size:large;">
    <p >Informed Consent Statement: COGLE Feasibility Study 2 - PARC<br/>
        Research Sponsored by: Defense Advanced Research Projects Agency
    </p>
    <p>All researchers who conduct studies using human Participants are bound by professional ethical standards for the
        conduct of such research. These standards are mirrored in the rights that are guaranteed to research
        Participants by
        federal law (NIH regulation 45-CFR-46). The purpose of this statement is to inform you of these rights.
    </p>
    <p>
    <ol>
        <li>Before deciding whether to participate, it is your right to be presented with an overview of the project
            that
            explains the purposes of the research.
            The general goals of this research are to:
            <ol>
                <li>
                    Derive useful methods for artificial intelligence systems to explain their reasoning and planning on
                    similar tasks.
                </li>
                <li>
                    Understand how people think about and use explanations of artificial intelligence systems.
                </li>
            </ol>
        </li>
        <li>
            Before deciding whether to participate, it is your right to be presented with a description of the general
            research approach and methodology. The study will ask you to view images and text produced by a drone
            simulator
            in operation on a search and rescue mission for a lost hiker. You will be asked questions about what you see
            and
            asked to explain, in your own words, how and why a drone with artificial intelligence is behaving the way
            that
            it
            does.
        </li>
        <li>
            Before deciding to participate, it is your right to understand any risks or stresses that may be involved in
            your participation.
            The studies involve no deception and entails no physical risk.
            Other than compensation as described below you will not directly benefit from participation in this
            research,
            but your participation may inform you about the nature of cognitive research, explanations, and artificial
            intelligence. You can ask any questions you may have, at any time, at the contact information below. It is
            your
            right to discontinue your participation at any time. You may do so for any reason, and you are not required
            to
            disclose your reason.
        </li>
        <li>
            Before deciding to participate, it is your right to understand any alternative experiences or courses of
            action for participating in this study. The alternative course of action is to not participate.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that the study data are to be kept
            confidential. The data we collect from you will be archived in terms of alphanumeric identification codes
            randomly assigned to you. Your name or any other identifying information will not be associated with
            particular
            data or statements you make. We will not ask for demographic material in this study (e.g., age, education
            level,
            experience, etc.). We will not ask for personally identifying information other than the contact information
            needed for communication purposes for this study.

            You should understand that the researchers may want to use analysis of the answers collected in
            presentations of
            this work. All such information will be stored anonymously and only associated with the random
            identification
            code we assign to you.
        </li>
        <li>
            Your participation is voluntary. Your participation will have no influence on anything that falls outside of
            this research context. A decision to not participate will involve no penalty or loss of benefits to which
            you
            are otherwise entitled, and you may discontinue participation at any time and for any reason.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that DURING the research itself you can
            continue to exercise your rights. It is your right to discontinue your participation at any time. You may do
            so
            for any reason, and you are not required to disclose your reason. Should you choose to discontinue your
            participation, this will not in any way affect or influence anything outside off this research context.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that AFTER the research itself you can
            continue to exercise your rights. Your performance at the research tasks will not in any way affect or
            influence
            anything that falls outside of this research context. Once your participation is over, it is your right to
            request that all data you have provided be discarded. Should you choose to discontinue your participation,
            this
            will not in any way affect or influence anything outside of this research context.

            Before deciding to participate, it is your right to understand the way in which you will be compensated.
            Financial compensation for participation in this study will be as specified in the Amazon Mechanical Turk
            Human
            Intelligence Task describing this activity.
        </li>
        <li>
            Before deciding to participate, it is your right to understand the sponsorship of this research. This study
            is funded by DARPA, a federal agency, which is supporting the costs of conducting the research. To ensure
            that
            this research conforms to federal regulations, including regulations on the protection of the rights of
            research
            participants, officials of DARPA and its Human Research Office may inspect records from this research for
            purposes of regulatory oversight. Department of Defense personnel who oversee the protection of human
            subjects
            will have access to all research records
        </li>
        <li>
            Before deciding to participate, it is your right to understand the interests of the researcher(s). Neither
            PARC, Inc., nor Lester D. Nelson, who are conducting this research will receive any financial benefit based
            on
            the results of the study.
        </li>
    </ol>
    </p>
    <p>If you have any questions, please feel free to ask. </p>
    <p>Whom to contact for answers to pertinent questions about the research and participants' rights, and whom to
        contact
        in case of a research-related injury:
    </p>
    <pre>
    Researcher's full name, address, and contact information:
    Lester D. Nelson
    PARC, Inc.
    3333 Coyote Hill Road
    Palo Alto, CA 94304
    650-813-4716
    Les.Nelson@parc.com

    You may also contact PARC’s Internal Review Board directly:
    Luke Plurkowski
    Internal Review Board Representative
    PARC, Inc.
    3333 Coyote Hill Road
    Palo Alto, CA 94304
    (650) 812-4340
    Luke.Plurkowski@parc.com
    </pre>
</span>
</div>