<div style="margin-right: 80px;margin-left: 80px; font-size:larger;">
<span style="font-size:large;">
    <p>
        Informed Consent Statement: COGLE Phase 3 Experiment - PARC<br/>
        Research Sponsored by: Defense Advanced Research Projects Agency
    </p>
    <p>
        We are conducting a survey about understanding what a smart, autonomous drone is doing during a Rescue mission.
        You will see information about how a drone drops a rescue package of provisions to a lost hiker.
        We want to know how well you understand what the drone is doing from the information we provide.
        We will now ask you to look at two drones performing their missions and ask you to choose which drone you think
        would be better suited to each mission.
    </p>
    <p>
        You will be involved in the following activities that should not take more than one hour to complete.
    </p>
    <ol>
        <li>
            Open another browser window to fill the whole screen. This task can only be done by using a computer or
            large tablet.
        </li>
        <li>
            Copy the Survey link provided to start the survey.
        </li>
        <li>
            After you go to the survey (in separate browser window) you need to copy and paste the Study Id provided
            into the first question of the survey. Please read the information shown to you and answer the questions as
            you think appropriate.
        </li>
    </ol>
    <p>
        All researchers who conduct studies using human Participants are bound by professional ethical standards
        for the conduct of such research. These standards are mirrored in the rights that are guaranteed to
        research Participants by federal law (Health and Human Services regulation 45-CFR-46). The purpose of
        this statement is to inform you of these rights.
    </p>
    <ol>
        <li>
            Before deciding whether to participate, it is your right to be presented with an overview of the project
            that explains the purposes of the research. The general goals of this research are to:
        </li>
        <ol>
            <li>
                Derive useful methods for artificial intelligence systems to explain their reasoning and planning on similar tasks.
            </li>
            <li>
                Understand how people think about and use explanations of artificial intelligence systems.
            </li>
        </ol>
        <li>
            Before deciding whether to participate, it is your right to be presented with a description of the
            general research approach and methodology. The study will learn about search rescue mission to provide
            provisions to a hiker in need. You will be asked you to view images, interactive interfaces, and text
            produced by a drone simulator and intelligent agents in operation on a search and rescue mission for a lost
            hiker. You will be asked questions about what you see and asked about how and why a drone with artificial
            intelligence is behaving the way that it does. You will be asked about your experiences in using these
            interfaces.
        </li>
        <li>
            Before deciding to participate, it is your right to understand any risks or stresses that may be
            involved in your participation. The studies involve no deception and entails no physical risk. Other than
            compensation for the Amazon Mechanical Turk Human Intelligence Task you will not directly benefit from
            participation in this research, but your participation may inform you about the nature of cognitive
            research, explanations, and artificial intelligence. You can ask any questions you may have, at any time,
            at the contact information below. It is your right to discontinue your participation at any time. You may
            do so for any reason, and you are not required to disclose your reason.
        </li>
        <li>
            Before deciding to participate, it is your right to understand any alternative experiences or courses of
            action for participating in this study. The alternative course of action is to not participate.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that the study data are to be kept
            confidential. The data we collect from you will be archived in terms of alphanumeric identification codes
            randomly assigned to you. Your Amazon Mechanical Turk Worker ID or any other identifying information will
            not be associated with particular data or statements you make. We will not ask for demographic material in
            this study (e.g., age, education level, experience, etc.). We will not ask for personally identifying
            information such that your name or contact information. You should understand that the researchers may want
            to use analysis of the answers collected in presentations of this
            work. All such information will be stored anonymously and only associated with the random identification
            code we assign to you.
        </li>
        <li>
            Your participation is voluntary. Your participation will have no influence on anything that falls
            outside of this research context. A decision to not participate will involve no penalty or loss of benefits
            to which you are otherwise entitled, and you may discontinue participation at any time and for any reason.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that DURING the research itself you can
            continue to exercise your rights. It is your right to discontinue your participation at any time. You may
            do so for any reason, and you are not required to disclose your reason. Should you choose to discontinue
            your participation, this will not in any way affect or influence anything outside off this research context.
        </li>
        <li>
            Before deciding to participate, it is your right to understand that AFTER the research itself you can
            continue to exercise your rights. Your performance at the research tasks will not in any way affect or
            influence anything that falls outside of this research context. Once your participation is over, it
            is your right to request that all data you have provided be discarded. Should you choose to discontinue
            your participation, this will not in any way affect or influence anything outside of this research context.
        </li>
        <li>
            Before deciding to participate, it is your right to understand the way in which you will be
            compensated. Upon completion you will receive a completion code that will allow compensation as listed for
            this Amazon Mechanical Turk Human Intelligence Task If, for any reason, you decide to opt out of the study
            after starting, you will still receive your compensation by entering a completion code “Withdraw”.
            Participants will be compensated at a rate of at least $7.25 per hour (2020 U.S. Federal Minimum Wage).
            The exact compensation amount and allotted completion time for participation will be clearly stated in the
            Amazon Mechanical Turk Human Intelligence Task.
        </li>
        <li>
            Before deciding to participate, it is your right to understand the sponsorship of this research. This
            study is funded by DARPA, a federal agency, which is supporting the costs of conducting the research.
            To ensure that this research conforms to federal regulations, including regulations on the protection of
            the rights of research participants, officials of DARPA and its Human Research Office may inspect records
            from this research for purposes of regulatory oversight. The US Department of Defense personnel responsible
            for the protection of human subjects will have access to research records.
        </li>
        <li>
            Before deciding to participate, it is your right to understand the interests of the researcher(s). Neither
            PARC, Inc., nor Lester D. Nelson, who are conducting this research will receive any financial benefit based
            on the results of the study.
        </li>
    </ol>
    <p>
        This Informed Consent Statement will be posted online with a link supplied in the description of the Amazon
        Mechanical Turk Human Intelligence Task that is published to Amazon Mechanical Turk Workers.
    </p>
    <pre>
Researcher’s full name, address, and contact information: Lester D. Nelson
PARC, Inc.
3333 Coyote Hill Road
Palo Alto, CA 94304 650-813-4716 Les.Nelson@parc.com
You may also contact PARC’s Internal Review Board directly:

To contact a PARC, Inc. Institutional Review Board Representative you may send email to:
irb_contact@parc.com
    </pre>
    <p>
        Please use a Subject heading such as ‘Question to the PARC Institutional Review Board’. A representative will receive this message and respond to you in a timely manner.
    </p>
</span>
</div>