<div>
    <h2>Hello there</h2>
    <button >Press me</button>
    <iframe  width="420" height="315" src="https://www.youtube.com/embed/Ya_4rht4DG8" >Show it</iframe>
    <div>
        <h2>Try an image</h2>
        <img src="../static/study1/img.png">
    </div>
    <a href="http://www.google.com" target="Popup2">
    	Press here to see page
    </a>
</div>