<div style="margin-right: 80px;margin-left: 80px; font-size:larger;">
<span style="font-size:large;">
    <H1>
        Naval Postgraduate School
    </H1>
    <H2>
        Consent to Participate in Research
    </H2>
    <p>
        Introduction. You are invited to participate in a research study entitled COGLE Phase 3 Experiment.  The purpose of the research is for participants to understand and predict the performance of demonstrated AI systems performing Search and Rescue (SAR) missions (e.g., dropping necessary provisions to save a lost hiker).  The overall hypothesis is that people with the explanation of the AI system will make better predictions and have better measures of task experience.  Specifically, the test done for the NPS participants is to see that how explainable AI (xAI) systems can benefit the warfighters and commanders, i.e., the NPS student participants, compared to the other participants, which is the unique military users’ perspectives for the COGLE product.
    </P>
    <OL>
        <LI>
            Participation is voluntary.  Refusal to participate will involve no penalty or loss of benefits to which you would otherwise be entitled, and you may discontinue participation at any time without penalty or loss of benefits to which you otherwise would be entitled. The alternative to participating in this research is to not participate.
        </LI>
          <LI>
              There is a minimal risk of a breach of confidentiality. The results of your participation in the study  will be shared with the Palo Alto Research Center (PARC) and could be used to support future studies without further consent.
        </LI>
          <LI>
              This is a Defense Advanced Research Project Agency (DARPA) research project in an area that how explainable AI (xAI) systems can benefit warfighters. The COGLE product is one of the xAI. With the test use with experienced warfighters and commanders, we will learn the unique military users’ perspectives for the COGLE product. You will not directly benefit from participating in the research.
        </LI>
          <LI>
              Participant will perform the tasks below on an online website:
        </LI>
        <OL type=""a">
            <LI>
                Read the online task description and consent form (this form)
            </LI>
            <LI>
                Perform online learning of COGLE AI agent, SAR missions, and tools
            </LI>
            <LI>
                Conduct choose-the-drone comparison tests
            </LI>
            <LI>
                Assess human-machine performance
            </LI>
            <LI>
                Assess mental model induction
            </LI>
            <LI>
                Answer a post survey for ancillary measures of the study task performance
            </LI>
        </OL>
    </OL>
    <P>
        Cost.  There is no cost to participate in this research study.
    </P>
    <P>
        Compensation for Participation.  No tangible compensation will be given.
    </P>
    <P>
        Confidentiality & Privacy Act.  Any information that is obtained during this study will be kept confidential to the full extent permitted by law. All efforts, within reason, will be made to keep your personal information in your research record confidential but total confidentiality cannot be guaranteed.  Data collected will be collected on the PARC servers and stored by both PARC and NPS.  Your identifiable information will only be kept by NPS and not shared with PARC.  It is possible that your de-identified data could be used to support future research studies without further consent.
    </P>
    <P>
        Points of Contact.  If you have any questions or comments about the research, or you experience an injury or have questions about any discomforts that you experience while taking part in this study please contact the Principal Investigator, Dr. Ying Zhao, 408-218-8484, yzhao@nps.edu.  Questions about your rights as a research subject or any other concerns may be addressed to the Navy Postgraduate School IRB Chair, Dr. Larry Shattuck, 831-656-2473, lgshattu@nps.edu.
    </P>
    <P>
        Statement of Consent. I have read the information provided above. I have been given the opportunity to ask questions and all the questions have been answered to my satisfaction. I have been provided a copy of this form for my records and I agree to participate in this study. I understand that by agreeing to participate in this research and signing this form, I do not waive any of my legal rights.
    </P>


</span>
</div>