<div>
    <h1>How to View Drone Routes</h1>
    <table>
        <tr>
            <td>
                <h2>
                    We provide an interface for viewing drone Routes. The interface is called Klarigo, and you will be
                    able to use it in a Browser tab labelled, Klarigo.
                </h2>
                <h2>
                    Feel free to click and drag the controls in the Klarigo interface.
                </h2>
                <h2>
                    You may refer to the Route Help tab to see how this works.
                </h2>
            </td>
            <td>
                <img src="../static/instructions/reading_routes.gif"/>
            </td>
        </tr>
    </table>
</div>
